.container {
  width: 960px;
  height: 250px;
   border-style: solid;
  border-width: 1px;
  -webkit-columns: 100px 3; 
  columns: 100px 3;
  padding: 1px;
  column-rule-style: solid;
}
h2{
  column-span: all;
}